# Ignore cache directories
app/cache/
app/content/
app/hls/
app/logs/

# Ignore environment files
.env
env

# Ignore Python bytecode directories
__pycache__/
app/__pycache__/

# Ignore specific files
archive.zip
rebus

# Ignore Dockerfile
Dockerfile

# Ignore Nginx logs
nginx_logs/


# Ignore FFmpeg logs
logs/ffmpeg/
app/state/
app/stats

# Ignore some non-relevant files
app/deploy_improvements.sh
app/migration.py
app/update.sh
