services:
  iptv-manager:
    image: streaming_awesomeness/iptv-manager
    container_name: iptv-manager
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    user: "${PUID:-1000}:${PGID:-1000}"
    volumes:
      - /mnt/iptv:/mnt/iptv:rw
      - ./app:/app:rw
      #- /mnt/docker_data/streaming_awesomeness/content:/mnt/videos:rw
      - /mnt/hdd4t/streaming_awesomeness:/mnt/videos:rw
#dvices:
      #- /dev/dri/card1:/dev/dri/card1
      #- /dev/dri/renderD128:/dev/dri/renderD128
    security_opt:
      - apparmor:unconfined  # May be needed for full GPU access
    environment:
      - TZ=Europe/Paris
      - NVIDIA_VISIBLE_DEVICES=
      - PUID=${UID:-1000}
      - PGID=${GID:-1000}
    ports:
      - "5000:5000"
    restart: unless-stopped

  nginx:
    user: root
    container_name: iptv-nginx
    image: nginx:alpine
    environment:
      - TZ=Europe/Paris
    env_file:
      - .env
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf.template:/etc/nginx/templates/nginx.conf.template:ro
      - ./nginx/start-nginx.sh:/usr/local/bin/start-nginx.sh:ro
      - /mnt/iptv:/mnt/iptv:rw
      - ./app/logs/nginx:/var/log/nginx:rw
    tmpfs:
      - /var/run/nginx
      - /var/cache/nginx
    depends_on:
      - iptv-manager
    restart: unless-stopped
    command: ["/bin/sh", "-c", "/usr/local/bin/start-nginx.sh"]

  stats-dashboard:
    image: streaming_awesomeness/stats-dashboard
    build:
      context: ./app/stats_dashboard
      dockerfile: Dockerfile
    container_name: iptv-stats-dashboard
    ports:
      - "8050:8050"
    volumes:
      - ./app/stats:/app/stats
    environment:
      - TZ=Europe/Paris
      - CHANNEL_API_URL=http://iptv-manager:5000
    depends_on:
      - iptv-manager
    restart: unless-stopped
